@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";
  font-display: swap;
  src: url("montserrat-400.woff2") format("woff2");
}

.container {
  width: 100%;
  max-width: 1024px;
  min-width: 320px;
  margin: 30px auto;
  padding: 0 15px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100 * var(--vh, 1vh));
}

.wrapper main {
  flex-grow: 1;
}

.wrapper .header,
.wrapper .footer {
  flex-shrink: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  font-family: "Montserrat", "Ariel", sans-serif;
  color: #221;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;

  background-color: #eee;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #fff;

  -webkit-text-fill-color: #000;
}

select {
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

select,
textarea,
input:matches([type="email"],
  [type="number"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="text"],
  [type="url"]) {
  appearance: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
}

/* ****************************************************************** */

.game-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 800px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input input {
  width: 100px;
  height: 40px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-size: 22px;
}

.btn {
  width: 150px;
  height: 60px;
  border: none;
  outline: none;
  background-color: #ff9900;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffa229;
}

.btn:active {
  background-color: #0091bd;
  color: #eee;
}

.game-container {
  display: none;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  background-color: #ff9900;
  margin: auto;
  border-radius: 10px;
  padding: 10px;

  grid-template-columns: repeat(2, 50%);
}

.player {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  border: solid 2px tomato;
  padding: 5px;
}

.player p {
  min-width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  border-radius: 5px;
}

.player p span {
  font-weight: 700;
  font-size: 17px;
  margin-left: 5px;
}

.player__teamates {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
}

.player__teamates button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}